In [2]:
import pandas as pd

df = pd.DataFrame({ 'category': ['A','A','B','B','B','C','C','C','C','D'],
                    'label': [1,0,1,0,0,1,0,1,1,1]
                  })

In [3]:
# 1
label_mean = df.groupby('category').label.mean()
df = df.assign(target_enc=df['category'].map(label_mean).copy())

In [6]:
label_mean

category
A    0.500000
B    0.333333
C    0.750000
D    1.000000
Name: label, dtype: float64

In [9]:
df['category']

0    A
1    A
2    B
3    B
4    B
5    C
6    C
7    C
8    C
9    D
Name: category, dtype: object

In [10]:
df['category'].map(label_mean)

0    0.500000
1    0.500000
2    0.333333
3    0.333333
4    0.333333
5    0.750000
6    0.750000
7    0.750000
8    0.750000
9    1.000000
Name: category, dtype: float64

In [7]:
df

  category  label  target_enc
0        A      1    0.500000
1        A      0    0.500000
2        B      1    0.333333
3        B      0    0.333333
4        B      0    0.333333
5        C      1    0.750000
6        C      0    0.750000
7        C      1    0.750000
8        C      1    0.750000
9        D      1    1.000000

In [11]:
# 2
df = df.assign(target_enc2=df.groupby('category')['label'].transform('mean').copy())

In [26]:
df.groupby('category')['label'].transform('mean')

0    0.500000
1    0.500000
2    0.333333
3    0.333333
4    0.333333
5    0.750000
6    0.750000
7    0.750000
8    0.750000
9    1.000000
Name: label, dtype: float64

In [25]:
import numpy as np
df.groupby('category').label.apply(np.mean)

category
A    0.500000
B    0.333333
C    0.750000
D    1.000000
Name: label, dtype: float64